.wrapper {
  font-family: 'Lato', sans-serif;
  width: 100%;
}

.inner {
  margin: 0 auto;
  width: 1100px;
}

a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  text-align: center;
}

.text {
  font-size: 20px;
  text-align: center;
  line-height: 30px;
}

.clearfix:after {
  clear: both;
  content: "";
  display: block;
}

.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.main, .article_latest-work_white, .nav_white {
  background-color: #f2f2f2;
}

.main {
  padding-top: 78px;
}

.footer {
  background-color: #74cfae;
}

.section_green {
  background-color: #74cfae;
}

.section_dark-gray {
  background-color: #4e4e4e;
}

/* 
@media screen and (min-width:768px) and ( max-width:1199px) {
  .inner {
    margin: 0 auto;
    width: 97%;
  }
}

@media screen and ( max-width:767px) {
  .inner {
    margin: 0 auto;
    width: 97%;
  }
} */

/* ヘッダー */
.header_inner {
  padding: 15px 0;
}

.icon_box {
  float: left;
}

.my-gray {
  color: #4e4e4e;
}

.contact-btn_box {
  float: right;
  font-size: 12px;
}

.contact-btn {
  display: inline-block;
  border: none;
  padding: 14px 12px;
  background-color: #74cfae;
  transition: 0.3s;
}

.contact-btn:hover {
  color: #333;
}

/* メイン */

.main_title_box {
  padding: 250px 0;
}

.main_title {
  font-family: 'Raleway', sans-serif;
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  text-align: center;
}

.sub_title {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
  text-align: center;
}

/* みどりの部分*/
.section_green--inner {
  padding-top: 50px;
  font-size:0;
}
/* @media screen and (min-width:768px) and ( max-width:1199px) {
  .section_green--inner {
    padding-top: 50px;
    padding-bottom: 25px;
  }
} */

.what_we_can_do_box {
  color: #fff;
}

.section_green_margin {
  display: inline-block;
  margin-left: 100px;
}

/* @media screen and (min-width:768px) and ( max-width:1199px) {
  .section_green_margin {
    text-align: center;
  }
}
@media screen and (max-width:767px) {
  .section_green_margin {
    text-align: center;
  }
} */

.section_green_margin.img_iphone {
  width: 20%;
}
/* 
@media screen and (min-width:768px) and ( max-width:1199px) {
  .section_green_margin.img_iphone {
    margin-bottom: 20px;
  }
} */

.section_green_margin.what_we_can_do_box {
  vertical-align: top;
  width: 60%;
}

.what_we_can_do_box.text {
  margin-top: 35px;
}

/* 真ん中しろ */
.main-inner_latest-work {
  padding-top: 60px;
  padding-bottom: 70px;
}

.main-inner_latest-work_title {
  color: #333;
  margin-bottom: 40px;
}

.main-inner_latest-work_images {
  display: flex;
  flex-wrap: wrap;
}
.main-inner_latest-work_image {
  display: block;
  opacity: 0.7;
  transition: .3s;
  margin-left: 100px;
}
.main-inner_latest-work_image:hover {
  opacity: 1;
}
.main-inner_latest-work_image:nth-child(n+4) {
  margin-top: 80px;
}

.main-inner_latest-work_image:nth-child(3n+1) {
  margin-left: 0;
}

.main-inner_latest-work_text_box {
  text-align: center;
  margin-top: 90px; 
  margin-bottom: 0;
  font-size: 0;
}

.main-inner_latest-work_text {
  color: #333;
  display: inline-block;
  width: 52%;
  margin-right: 90px;
}

.email_me-btn {
  display: inline-block;
  vertical-align: top;
}

.email_me-btn_text {
  background-color: #74cfae;
  padding: 14px 20px;
  transition: .3s;
  font-size: 12px;
}

.email_me-btn_text:hover {
  color: #333;
}

/*  section gray*/
.section_dark-gray--inner {
  padding-top: 70px;
  padding-bottom: 100px;
}

.section_dark-gray__title {
  color: #c0c0c0;
}

.section_dark-gray__images {
  margin-top: 70px;
  text-align: center;
}

.circle_box {
  display: inline-block;
  margin-right: 180px;
  font-size: 16px;
}

.circle_box:last-child {
  margin-right: 0;
}

.circle_text {
  display: block;
  text-align: center;
  color: #c0c0c0;
  margin-top: 15px;
}

/* アイコン枠 */
.main-inner_sns-icon {
  padding: 200px 0;
}

.my-green {
  color: #74cfae;
}

.sns-icon_contents_box {
  text-align: center;
}

.sns-icon_contents_box .sns-icon {
  display: inline-block;
  width: 185px;
  padding: 10px 0;
  cursor: pointer;
  transition: .3s;
}

.sns-icon_contents_box .sns-icon:hover {
  background-color: #fff;
}

/* フッター */
.footer-inner {
  padding-top: 20px;
  padding-bottom: 25px; 
}

.footer_created_by {
  color: #fff;
  text-align: right;
}